/* reset */
html,body,div,p,script,noscript,table,tr,th,td,caption,label,form,ul,ol,li,hr,br,
footer,section,nav,article,h1,h2,h3,h4,input[type="text"],input[type="password"],img
{border: 0; margin: 0; padding: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline;}

a {
  text-decoration: none;
}
a:hover {
/*  text-decoration: underline;*/
}

div {
  
}

ol, ul {
  list-style: none;
}

/* html tags */
body {
  font-family: "trebuchet ms", Georgia;
  background: #392312 url(/s/bg.jpg);
}

div {
/*  overflow: hidden;*/
}

h1 {
  line-height: 32px;
  margin-bottom: 12px;
}

h2 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

table {
  border-collapse : collapse;
}

table th {
  text-align: left;
  background: #EEE4BE;
  padding: 8px;
}

section {
  clear: both;
}

/* common classes */
.br {
  clear: both;
}

.hidden, .js-visible {
  display: none;
}

.right {
  float: right;
}

/* debug */
.dbg {
  background: lime;
}

.dbgl {
  background: yellow;
}

ul.list {
  margin-left: 30px;
  list-style-type: square;
}

/* text classes */
.secondary {
  font-size: 85%;
  color: #766C45;
}

.albums li img {
  width: 100px;
  float: left;
}

.albums > ul > li{
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 8px;
}

.albums ul ul {  
  float: left;
  margin-left: 16px;  
}

.albums span {
  display: block;
  margin-left: 108px;
}


/* layout */
#body {
  padding: 0 8px;
}

#page {
  max-width: 1200px;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 4px 4px #000;
  -moz-box-shadow: 4px 4px 4px #000;
  -webkit-box-shadow: 4px 4px 4px #000;
  -o-box-shadow: 4px 4px 4px #000;

  margin-bottom: 8px;
}

#header {
  background: #d0c17e url(/s/sprite.png) 0 0 repeat-x;
  height: 100px;
  position: relative;
}

#content {
  background: #f3edd5;
  border: 1px solid #e3d9ab;
  padding: 8px;
  overflow: hidden;
}

#main, .main {
  float: left;
  width: 66%;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px dotted #938548;
}

#main h1, .main h1 {
  float: left;
}

#share {
  float: right;
  
}

#share .social {
  float: right;
  margin-left: 6px;
  cursor: pointer;
}

#fbshare a {
  display: block;
  background: transparent url(/s/sprite.png) 0px -265px no-repeat;
  width: 19px;
  height: 21px;  
}

#fbshare a:hover {
  background-position: -19px -265px;
}

#tweet {
}


#additional, #aside {
  float: left;
  width: 32%;
  font-size: 85%;
}

#third {
  float: left;
  width: 32%;
}

/* footer */
#footer {
  border-top: 1px solid #938548;
  background: #d0c17e url(/s/sprite.png) 0 0 repeat-x;
  padding-top: 10px;
  height: 90px;
  position: relative;
  clear: both;
  overflow: hidden;
}

#disclaimer {
  text-align: center;
  font-size: 12px;
  float: left;
  padding: 0 12px;
  line-height: 16px;
}

#footer ul {
  margin-left: 30px;
}

#footer ul li {
  float: left;
  padding: 0 12px;
  margin-bottom: 8px;
}

/* design */
#logo {
  float: left;
}

#logo div {
  background: #d0c17e url(/s/sprite.png) -127px -106px;
  height: 94px;
  width: 127px;
  text-indent: -9999px;
  margin: 2px 0 0 4px;
}

#logo a:hover div {
  background-position: 0 -106px;
}

#nav ul {
  padding: 8px 0 8px 0;
  height: 19px;
  background: transparent url(/s/sprite.png) bottom left;
  margin-left: 120px;
}

#nav ul li {
  float: left;
  padding: 0 8px 0 8px;
}

#nav a {
  color: white;
  font-weight: bold;
  text-shadow: black 0 1px 2px;
  padding: 8px 6px 6px 6px;
}

#nav a:hover {
  background: #ac9d59;
}

#search {
  background: url('../s/sprite.png') 0 -201px no-repeat; 
  width: 300px;
  height: 31px;
  margin: 0 auto;
  margin-top: 16px;
}

#search form {
  margin-left: 6px;
}

#search form #q {
  padding-top: 4px;
  outline: none;
  margin-top: 4px;
  width: 260px;
  font-size: 16px;
}

#search input[type="submit"] {
  background: url('../s/sprite.png') 0 -233px no-repeat;
  height: 30px;
  width: 28px;
  float: right;
  text-indent: -9999px;
  cursor: pointer;
  border: 0;
}

#login {
  float: right;
  font-size: 13px;
  margin: 8px 8px 0 0;
  padding: 0;
}

#login input {
  border: 1px solid #7E7E7E;
  height: 17px;
  margin: 0;
  padding: 0;
}

#login a {
  text-decoration: none;
  background: none;
  text-shadow: transparent 0 0 0;
  font-weight: normal;

  padding: 0;
}

#login a:hover {
  background: transparent;
}

#login p {
  margin-top: 32px;
}

/********************************************************************************************/
/* Form                                                                                     */
/********************************************************************************************/

#form {
  width: 350px;
  margin: 0 auto;
}

#form label {
  display: block;
  margin-bottom: 4px;
}

#form input {
  margin-bottom: 8px;
}

#form input[type="text"], #form input[type="password"] {
  border: 1px solid #999999;
  display: block;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  padding: 4px 5px;
  width: 340px;
}

#form input[type="submit"] {
  float: right;
  cursor: pointer;
  font-size: 14px;
}

/********************************************************************************************/
/* Album                                                                                     */
/********************************************************************************************/

#picture img {
  width: 300px;
  height: 300px;
}

#picture, #logo {
  float: left;
  clear: both;
  margin-right: 8px;
}

#brief {
  float: left;
  
  /*TODO, this shouldnt be set, layout should be floating, this is problem with Also Known As - line get to long,
  and #brief goes under the photo*/
  max-width: 313px;
}

#booking {
  margin-left: 10px;
}

/* used for panels on the left side*/
.pane {
  clear: both;
  margin-bottom: 16px;
}

#tracklist table {
  width: 100%;
  font-size: 85%;
}

#tracklist table td {
  border-bottom: 1px solid #BFAD5E;
  padding: 6px 0 2px 10px;
}

#tracklist table td:first-child {
  width: 50px;
}

#tracklsit table tr {
  margin-bottom: 8px;
}
  
#tracklist table td.align  {
  text-align: right;
}
  
#tracklist table tr td ul li {
  font-size: 12px;
  margin: 4px 0;
}

.header {
  overflow: auto; 
  background: #EAE3CD;
  border-bottom: 1px solid #C3BDAB;
  margin-bottom: 8px;
  padding: 4px 0 4px 4px;
}

.header h2 {
  float: left;
  margin-bottom: 0;
}

.header span.toggle {
    float: right;
    font-size: 80%;
    margin: 8px 8px 0 0 ;
}

.box  {
  margin-bottom: 8px;
  clear: both;
}

.box h3 {
  margin-bottom: 8px;
  border-bottom: 1px dotted #938548;
  background: #EEE4BE;
  font-size: 120%;
  padding: 4px;
}

.box ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.box ol li {
  margin-bottom: 4px;
}

.box .covers {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.covers li {
  float: left;
  margin-right: 8px;
}

.covers img {
  list-style-type: none;
  width: 67px;
  height: 67px;
}

.list table {
  clear: both;
  width: 100%;
  cell-spacing: 0px;
  margin-bottom: 16px; 
}

.list table td {
  vertical-align: middle;
  border-bottom: 1px solid #BFAD5E;
  padding: 6px 0 2px 10px;
  margin: 0;
}

.list table td:first-child {
  width: 60px;
}

.list table img {
  width: 40px;
  height: 40px;
}

.list table.album td:last-child {
  text-align: right;
  width: 170px;
}

.pagination {
  clear: both;
  margin-bottom: 16px;
  background: #EEE4BE;
}

.pagination table {
  width: 100%;
}

.pagination {
  padding: 8px;
}

.pagination table td.align {
  text-align: right;
}

.pagination .pages {
  text-align: center;
}

.pagination .pages a {
  margin: 0 2px;
}

.pagination .active {
  margin: 4px;
  padding: 2px 7px 0 6px;
  background: #f3edd5;
  border: 1px solid #BFAD5E;
}

.error h1 {
  margin: 0 0 80px 0;
}

.zebra {
  background: #EEE4BE;
}

.play {
  display: block;
  float: right;
  background: transparent url(/s/sprite.png) -282px -122px no-repeat;
  text-indent: -9999px;
  width: 18px;
  height: 15px;
/*  float: right;*/
}

.play:hover {
  background-position: -282px -106px;
}

/********************************************************************************************/
/* Homesite                                                                                 */
/********************************************************************************************/
#topstory {
  border: 1px solid #D5C179;
  overflow: hidden; 
  position: relative;
  margin-bottom: 8px;
}

#topstory img {
  float: right;
}

#epla {
  width: 100%;
  height: 100%;
  background: transparent url(/s/aple.png) 0 0 repeat-y;
  position: absolute;
  padding: 10px;
}

#topstory p {
  width: 50%;
}

#topstory li a, #songs li a {
  padding-left: 26px;
  background-image: url(s/sprite.png);
  background: transparent url(/s/sprite.png) -282px -121px no-repeat;
}

.column {
  float: left;
  width: 50%;
/*  font-size: 90%;*/
}

.column > div {
  margin: 0 8px 16px 0;
  clear: both;
}

.column h2, .box h2 {
  border-bottom: 1px dotted #938548;
  padding-bottom: 4px;
}


/********************************************************************************************/
/* search                                                                                   */
/********************************************************************************************/
#detail-search {width: 400px; margin: 0 auto;}
#detail-search input {font-size: 100%;}
#detail-search input[type="text"] {width: 310px; border: 1px solid #BFAD5E; padding: 2px;}
#detail-search input[type="submit"] {cursor: pointer;}
#detail-search ul {margin: 4px 0 0 18px; font-size: 85%;}
#detail-search ul li {float: left; margin-right: 16px;}
#no-results {margin: auto; width: 600px; margin-top: 50px; text-align: center;}
#no-results p {margin-bottom: 8px;}
#no-results p span {padding: 2px; background: #D5C179;}
.searches ul {list-style-type: square; margin-left: 20px;}
#site-search ol {list-style-type: disc; margin-left: 32px;}

/* album/_list */
#site-search .albums li img {
  width: 75px;
}

#site-search .albums span {
  margin-left: 83px;
}


/********************************************************************************************/
/* Tipsy                                                                                    */
/********************************************************************************************/
.tipsy { padding: 5px; font-size: 11px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(/s/tipsy.gif); }
.tipsy-inner { padding: 4px 7px 5px 7px; background-color: black; color: white; max-width: 400px;}
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/********************************************************************************************/
/* News                                                                                     */
/********************************************************************************************/
#news-container {
  padding-top: 8px;
}

#news-attachment {
  float: left;
  margin-right: 8px;
  width: 350px;
}

/********************************************************************************************/
/* Comments                                                                                 */
/********************************************************************************************/
/* form */
#comments form {
  margin-bottom: 16px;
}

#comments form input {
  font-size: 16px;
}

#comments form input[type="text"] {
  border: 1px solid #717171;
  padding: 2px;
  outline: none;
}

#comments form input[type="submit"] {
  font-size: 16px;
  float: right;
  cursor: pointer;
}

#comments form > label {
  display: none;
}

#textarea-wrapper {
  padding: 2px;
  background-color: white;
  border: 1px solid #717171;
  margin-bottom: 8px;
}

#comments form textarea {
  width: 100%;
  font-size: 16px;
  font-family: "trebuchet ms", Georgia;
  border: 0;
    outline: none;
}

#comments ul li {
  margin-bottom: 16px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #938548;
}

#comments li > span {
  display: block;
  word-wrap: break-word;
}

#comment-form-show a {
  margin-bottom: 16px;
  display: block;
}

/********************************************************************************************/
/* User                                                                                     */
/********************************************************************************************/
.form-errors {
  background-color: #E76466;
  border: 1px solid #9C4547;
  margin-bottom: 8px;
  padding: 4px;
}

.form-container {
  clear: both;
}

.form-container textarea {
  width: 100%;
  margin-bottom: 8px;
}

.form-info {
  background-color: #D5C179;
  border-color: #796E46;  
}

.form-success {
  background-color: #C1FDA0;
  border-color: #4E6642;
}

.form-message {
  margin-bottom: 8px;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}

form .submit {
  float: right;
}

/* lists */
ul.flat {
  overflow: hidden;
}

ul.flat li {
  float: left;
}

#lyrics-editors ul {
  font-size: 12px;
}

.adm {
  width: 100%;
  margin-bottom: 16px;
}

.adm form  {
  width: 100%;
  display: block;
}

.adm textarea {
  width: 100%;
  margin-bottom: 8px;
}